* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    margin: 0;
}

.receiver-fullname {
    font-size: 25px;
    font-weight: 600;
}

.icon {
    font-size: 30px;
}

.chat-zone {
    display: flex;
    flex-wrap: wrap;

    width: 100vw;
    height: 100vh;

    background-image: url("../images/BackGround.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chat-nav {
    flex: 100%;
}

.chat-right {
    flex: 100%;

    display: flex;
    flex-wrap: wrap;

    width: 100vw;
}

.chat-box {
    flex: 100%;

    height: fit-content;

    background-color: #eeeeee;

    border-radius: 5px;
}


.card-chat {
    border-color: #eeeeee;

    height: 82.5vh;
    overflow-y: scroll;

    border-radius: 0 !important;
    margin: 0px 0px 0px 40px;
}

.mess-line {
    flex: 100%;

    display: flex;
    flex-wrap: nowrap;

    background-color: white;

    border-radius: 5px;
    padding: 8px 20px 8px 40px;
    margin-top: 0.01vh;

    align-items: center;
}

.mess-form {
    flex: 90%;
}

#message {
    border-radius: 30px;
}

.mess-send {
    flex: 1%;
}

#send-message {
    color: #209600;
}

#send-message:hover {
    color: #30db00;
}

@media(max-width: 1300px) {
    nav {
        border-radius: 0 !important;
    }

    .chat-left {
        border-radius: 0 !important;
    }

    .test {
        border-radius: 0 !important;
    }

    .chat-box {
        border-radius: 0 !important;
    }

    .mess-line {
        border-radius: 0 !important;
    }
}